.mypy_cache/
.pytest_cache/
.ruff_cache/
.github/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*local_settings.py
.env
*.sqlite3
*.db
.git/
*.log
node_modules/
static/
media/
tests/
docs/
README.md
Dockerfile
*.md
.gitignore